<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mpadillamarcos.javaspringbank.infra.account.AccountMapper">

    <insert id="insert">
        INSERT INTO accounts(id, user_id, created_date, state)
        VALUES(#{id.value}, #{userId.value}, #{createdDate}, #{state})
    </insert>

    <select id="findById">
        SELECT id, user_id, created_date, state
        FROM accounts
        WHERE id = #{value}
    </select>

    <update id="update">
        UPDATE accounts
        SET state = #{state}
        WHERE id = #{id.value}
    </update>

    <select id="getAccounts">
        SELECT id, user_id, created_date, state
        FROM accounts
        WHERE id IN
        <foreach item="accountId" collection="collection" open="(" separator="," close=")">
            #{accountId}
        </foreach>
    </select>
</mapper>